bin/
out/
samples/
.DS_Store

ios/Build
ios/qr-message/lib
.vscode

android/includeLibs
android/openCVLibrary310/
android/OpenCV-android-sdk
android/app/src/main/jniLibs/
android/app/release
android/.idea
android/keystore.properties

web/converted/
web/node_modules/
web/public/qrs/
web/storage/
